<h2>Il s'agit de mainApp</h2>
<p>
    La leucémie est un cancer qui prend naissance dans les cellules souches du sang. Les cellules souches sont des cellules de base qui se transforment en différents types de cellules qui ont des fonctions distinctes.<br><br>
    <b> auth-token</b> <i style="color: red;"> {{authToken}} </i>
</p>
<h3> {{heading}} </h3>
<p>
    En se développant, les cellules souches du sang deviennent des cellules blastiques (blastes), qui sont des cellules sanguines immatures. Dans le cas de la leucémie, il y a une surproduction de cellules blastiques. Ces cellules blastiques se développent anormalement et ne deviennent pas des cellules sanguines matures. Avec le temps, les cellules blastiques prennent la place des cellules sanguines normales, les empêchant ainsi d’accomplir leurs tâches. Quand on diagnostique une leucémie, ces cellules blastiques peuvent être appelées cellules leucémiques.
</p>
<hr>


<router-outlet></router-outlet>