<div class="wht-box">
    <h3>Search</h3>
    <input type="text" placeholder="Enter keywors...">&nbsp;<span class="search icon"></span>
  </div>
  
  <div class="wht-box">
    <h3>Latest News</h3>
    <h5>Harry Potter serie</h5>
    <i>Mai 21st, 2022</i>
    <p>Il est vraiment important de ... <a routerLink="/sideApp/details">lire la suite</a></p>
    <hr>
  
    <h5>BasketBall Nador!</h5>
    <i>Mai 21st, 2022</i>
    <p>pouvez vous imaginer que... <a routerLink="/sideApp/details">lire la suite</a></p>
    <hr>
  
    <h5>Le Maroc 2022</h5>
    <i>Mai 21st, 2022</i>
    <p>Ouassim Sabir a dit que... <a routerLink="/sideApp/details">lire la suite</a></p>
  </div>